$verydarkblue:hsl(233, 47%, 7%); //main background
$darkdesaturatedblue:hsl(244, 38%, 16%); // card background
$softviolet:hsl(277, 64%, 61%); // accent
$softvioletimg: rgb(102, 31, 150); // img color
$white:hsl(0, 0%, 100%); // main heading, stats
$slightlytransparentwhitemain:hsla(0, 0%, 100%, 0.75); // main paragraph
$slightlytransparentwhitestat:hsla(0, 0%, 100%, 0.6); // stat headings

// weights: 400,700; Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
// weights: 400; Lexend Deca
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: $white;
    background-color: $verydarkblue;
    margin: 20vh auto;

    .card {
        max-width: 1010px;
        height: 405px;
        background-color: $darkdesaturatedblue;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;

        .card-body {
            padding: 4rem 4rem 0rem;
            background-color: $darkdesaturatedblue;

            .card-title {
                font-size: 2.1rem;
                font-weight: 600;
            }

            .accent {
                color: $softviolet;
            }

            .card-text {
                font-size: 0.9rem;
                padding-top: 0.5rem;
                line-height: 1.4rem;
                color: $slightlytransparentwhitemain;

            }

            .stats {
                padding-top: 3rem;
                width: 320px;
                margin-right: 1rem;
            }

            .stats p {
                font-size: 1.3rem;
                font-weight: 700;
                display: flex;
                flex-direction: column;
                justify-content: center;

                span {
                    font-family: 'Lexend Deca', sans-serif;
                    color: $slightlytransparentwhitestat;
                    font-size: 0.7rem;
                    font-weight: 400;
                    letter-spacing: 0.05rem;
                    text-transform: uppercase;
                    padding-top: 0.3rem;
                }
            }
        }

        .overlay {
            width: 100%;
            height: 404px;
            background: $softvioletimg;
            overflow: hidden;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;

            img {
                height: 404px;
                opacity: 0.4;
            }
        }
    }

    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (min-width:768px) {
    body {

        .card .card-body .stats {
            padding-top: 1rem;
        }
    }
}

@media screen and (max-width:767px) {
    body {
        width: 330px;
        height: 800px;
        margin: 5vh auto;

        .card {
            border-bottom-right-radius: 0px;
            border-top-left-radius: 10px;

            .card-body {
                padding: 2.5rem 0rem 0rem 0rem;
                text-align: center;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;

                .card-title {
                    font-size: 1.6rem;
                    padding: 0rem 2.5rem;
                    margin-bottom: 1.5rem;
                }

                .card-text {
                    font-size: 0.9rem;
                    line-height: 1.55rem;
                    padding: 0rem 2.5rem;
                }

                .stats {
                    padding-top: 1.6rem;
                    text-align: center;
                    margin-right: 0rem;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    p {
                        font-size: 1.4rem;

                        span {
                            font-size: 0.8rem;
                            padding-bottom: 1rem;
                        }
                    }
                }
            }

            .overlay {
                height: 240px;
                border-bottom-right-radius: 0px;
                border-top-left-radius: 10px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}